@import '2-atoms/a-mixins';

/* ----- 5: PAGES ------- */
@import '5-pages/p-home';
@import '5-pages/p-footer';

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap');


// Colors
$c_verde_musgo: #00280F;
$c_azul_petroleo: #005562;
$c_azul_cinza_escuro: #536173;
$c_azul_cinza_claro: #949BA6;
$c_salmao:#BB967B;
$c_marron: #735452;
$c_bege_rosado: #C8B5AE;
$c_preto: #0F0F0F;
$c_branco: #F6F2EF;

// Custom Colors - defaults
$color__primary: #005562 !important;
$color__primary-variation: #005562;
$color__secondary: #555;
$color__secondary-variation: darken( $color__secondary, 10% );
$color__highlight: #fed850;

.wp-block-video{
	margin:0px !important;
}

@media (max-width: 768px) {
		
	.entry .entry-content>*.aligncenter,
    .newspack-inline-popup>*.aligncenter,
    .banner-cidades .wp-block-cover__inner-container,
    .footer-branding, .footer-widgets,
    .wp-block-cover__inner-container
        {
        margin-left: 0px !important;
        margin-right: 0px !important;
		}
}

//geral
.page-header{
	margin: 0 0 1rem !important;
}

.entry .entry-content > *{
	margin:32px 0;
}

.the-excerpt{
	padding: 10px;
	font-size: 12px;
}

//header

.entry-header{
	margin-left: 0px !important;
}


.nav1{
	.main-menu{
		li a{
			color:$c_branco!important;
			text-transform: uppercase;
			font-weight: unset;
		}
	}
}

.middle-header-contain{
	max-height: 150px;
}

.button,button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	font-size: 0.5em;
}

.mainmenubtn {
    background-color: transparent;
    color: $c_branco;
    cursor: pointer;
	font-weight: unset;
	padding:10px 5px;
	float: right;
	text-align: left;

	a{
		color: $c_branco;
		padding:0px;
		font-size: 10px;
	}
}


.dropdown {
    position: relative;
    display: inline-block;
	font-weight: unset;
	margin: 0px 15px;

	.item-mainmenu{
		margin:10px;
		display: inline-block;
	}

	.img-mainmenu{
		width: 28px;
		margin:10px 0px 0px 0px;
	}

	.img-dropdown{
		width: 32px;
	}

	button{
		font-size: 10px;
		font-weight: unset;

	}

	a{
		color: $c_branco;
		font-size: 10px;
		margin-top: -1px;
	}
}

.dropdown-child{
	padding: 10px;
    display: none;
    min-width: 200px;
	z-index: 30;
	position: absolute;
	border-radius: 10% 0% 0% 10%;


	#duas-colunas{
		width: 300px;
		border-radius: 10%;
		display: inline-block;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		#coluna1{
			background-color: $c_salmao;
			width:150px;
			margin: 0px;
			padding: 30px;
			height: 200px;
			float: left;
			text-align: center;
			border-radius: 10% 0% 0% 10%;

			.button{
				padding: 5px 10px 5px 10px;
				border-radius: 0px;
				font-size:10px;
			}

			p{
				font-size:12px;
			}

			.img-dropdown{
				width: 50px;
			}

		}

		#coluna2{
			background-color: $c_branco;
			width:150px;
			height: 200px;
			float: left;
			padding: 30px;
			border-radius: 0% 10% 10% 0%;

			.img-dropdown{
				float: left;
				width: 20px;
			}

			.item{
				width: 80%;
				display: inline-block;

				&.first-child{
					margin-top:30px;
				}

				.text-item{
					margin-left: 5px;
					color: $c_azul_petroleo !important;
					float: left;
				}
			}

			.button{
				margin: auto -15px;
				margin-top:40px;
				padding: 5px 10px 5px 10px;
				border-radius: 0px;
				color: $c_branco !important;
				font-size:10px;
			}

			p{
				font-size:12px;
			}

		}
	}

	#coluna-unica{
		width: 180px;
		display: inline-block;
		border-radius: 10px;
		background-color: $c_branco;
		padding: opx;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		a{
			color: $c_azul_petroleo;
		}


		hr{
			margin: 0px 10px !important;
			max-width: 90%;
			border-color: $c_salmao;
			box-sizing:border-box;
			width:100%;
		}

		.linha{
			border-top: black;
			padding: 5px 20px;

			.linha-interna{
				display: inline-block;
				padding-bottom: 0px;

				img{
					float:left;
					width: 10px;
					margin: 3px 2px 0px 0px;
				}

				p{
					float:right;
					margin: 0px;
					font-size:10px;
					color: $c_azul_petroleo;
				}
			}

			p{
				margin: -10px 0px 0px 0px;
				font-size:10px;
				color: $c_azul_petroleo;
			}

			a{
				margin-top: -10px;
				text-decoration: none;
				display: block;
				font-size:10px;
				color: $c_azul_petroleo !important;
			}
		}


	}

	.linha{

		p{
			font-size:12px;
			color: black;
		}

		a{
			margin-top: -15px;
    		text-decoration: none;
    		display: block;
			font-size:12px;
			color: black;
		}
	}
}

.dropdown:hover .dropdown-child {
    display: block;
}

//menu suspenso
.site-header{
	.submenu-expand svg{
		color: white;
		height: 16px;
		width: 16px;
		top: 0.2em !important;
	}

	.dd-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu{
		width: fit-content;
	}

	ul .sub-menu{
		width: 100%;
		z-index: 999;
		margin-top:1px !important;
	}

	li{
		width: fit-content;
	}


	.dd-menu > ul > li > .sub-menu {
		background-color: #949ba6;
    	display: none;
		z-index: 30;
		position: absolute;
		border-radius: 0 5px 5px 5px;
		padding: 10px;

		&::before{
			display:none;
		}


		a{
			opacity: 1;
			font-size: 12px;
			width: max-content;
			min-width: 140px;
			padding:10px 5px;
			background-color: #949ba6;

			&:hover{
				opacity: 1;
				background-color: #949ba6;
			}
		}
	}
}

//menu-mobile

.mobile-sidebar{
	.dd-menu > ul > li{
		font-size: x-small;
	}

	.dd-menu .sub-menu > li{
		font-size: xx-small;
	}
}

//home
.home{

	#primary {
		margin: auto;
		max-width: 100%;
	}

	.entry .entry-content > *{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}

	.ver-mais{
		a{
			text-decoration: none !important;
		}
		.wp-block-column{
			margin:-15px !important;
		}

		@media (max-width: 768px) {
			margin: 0px auto;
			.coluna-espacador{
				flex-basis: 70% !important;
				margin: 5px !important;
			}

			.coluna-ver-mais{
				flex-basis: 60px !important;
				p{
					font-size: 12px !important;
					width: fit-content;

					a{
						font-size: 12px !important;
						text-decoration: none !important;
					}
				}
			}

			.coluna-seta{
				flex-basis: 40px !important;
			}
		}
	}

	//forms


	.wpcf7-form{
		width: 1000px;
		display: inline-flex;
		margin-top: 0px;

		@media (max-width: 768px) {
			width: 200px;
		}

		p{
			margin: 0px 10px 0px 0px;
			max-width: 50%;

			.wpcf7-form-control{
				@media (max-width: 768px) {
					width: 230px;
				}

				&.wpcf7-submit{
					&.has-spinner{
						margin-top: 10px;
						background-color: transparent !important;
						border: 1px solid white !important;
						padding: 5px 10px;
						border-radius: 0px;

						@media (max-width: 768px) {
							width: 50px;
							margin-left: -110px;
							margin-top: 60px;
						}
					}
				}
			}
		}

	}


	.titulo-sem-margem{
		margin-top:-30px !important;
	}

	.titulo-especial-home{
		font-family: "Open Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: 800 !important;
		font-style: normal;
		font-variation-settings:
			"wdth" 100;
	}
	//mapa dos ppgds

	.mapa-ppgds{

		.map-nav-pagination{
			display: none;
		}
		.wp-block-column{
			margin-top: 0px !important;
		}
	}

	@media (max-width: 768px) {
		.filter-select{
			margin: 0px 5px;
		}
	}


	label{
		padding:5px !important;

		@media (max-width: 768px) {
			padding:5px 0px !important;
			word-break: keep-all;

		}
	}

	@media (max-width: 768px) {
		#bloc1{
			width: 230px !important;
			margin-left: 0px !important;
			padding-left: 0px !important;
			margin-top: 460px !important;

			#reset-filters.btn-primary {
				margin: 0px !important;
				padding: 0px;

			}
		}

		.wp-block-cover__inner-container{
			margin-left: 0px;
			margin-right: 0px;
		}
		.coluna-texto-mapa{
			margin-top:50px !important;
		}

	}


	#bloc1{
		width: 600px;
		background-color: transparent !important;
		font-family: Open Sans !important;
		margin-top: 430px;
		position: absolute !important;
		font-size:12px;
		margin-left:60px;

		#reset-filters{
			&.btn-primary{
				background-color: transparent;
				color: $color__primary;
				text-decoration: underline;
				margin: -40px -30px 0px 0px;
				font-size:10px;
			}
		}

		.LA_filters ul{
			justify-content:left !important;

			li{

				.filter-tokenize{
					width: 40px;;
				}
			}

			.TokensContainer{
				height: 20px;
			}
		}
	}

	@media (max-width: 768px) {
		.special-heading-tag{
			width:200px !important;
			span{
				margin: 10px 5px !important;
			}
		}

	}

	#bloc3{
		.special-heading-tag{
			width:90px;
			font-size:12px;
			span{
				float:left !important;
				word-break: normal;
				margin: 0px;
			}
		}

		.map-nav-wrapper{
			display: none;
		}
	}

	//bloco do youtube

	.tv-conpedi .wp-block-spacer{
		@media (max-width: 768px) {
			display: none !important;
		}
	}
	.title-line {
		display: none;
	}

	.coluna-video{
		flex-basis: 1100px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.video-gallery-block-title {
		flex-wrap: unset;

		@media (max-width: 768px) {
			flex-wrap: wrap !important;
		}

		h2{
			width: 30% !important;
			font-size:20px  !important;

			@media (max-width: 768px) {
				width: 100% !important;
			}
		}

		h6{
			padding:10px;
			font-size: 10px !important;
			font-weight: unset;

			@media (max-width: 768px) {
				margin:0px;
				padding: 0px;
			}
		}

		a{
			min-width: fit-content;
			padding: 5px 25px 5px 25px;
			margin: 10px;
			background-color: $c_salmao;
			border-radius: 0px;
			font-weight: bolder !important;
			font-size: 12px;

				&.button{
					color: $c_azul_petroleo !important;
				}

			@media (max-width: 768px) {
				margin: 10px 0px;
			}
		}
	}

	.embed-template-block{
		p{
			font-size: 12px !important;

				strong{
					font-weight: unset !important;
				}
		}
	}

	//slider

	.nextend-arrow-previous{
		img{
			background-image: url("/wp-content/uploads/2023/11/prev.png") !important;
			background-size: 32px 32px !important;
		}
	}


	.nextend-arrow-next{
		img{
			background-image: url("/wp-content/uploads/2023/11/next.png") !important;
			background-size: 32px 32px !important;

		}
	}

	.nextend-bullet-bar{

		.n2-bullet{
			background-color: transparent !important;
			background-image: url("/wp-content/uploads/2023/11/circulo2.png") !important;
			background-size: 20px 14px !important;
			background-repeat: no-repeat !important;
			background-position: center !important;
			width: 20px !important;
			height: 14px !important;
			margin:0px !important;

			&.n2-active{
				background-color: transparent !important;
				background-image: url("/wp-content/uploads/2023/11/circulo1.png") !important;
				background-size: 20px 14px !important;
				background-repeat: no-repeat !important;
				background-position: center !important;
				width: 20px !important;
				height: 14px !important;
				margin:0px important;
			}
		}

	}


	.wpnbpc{

		.swiper-pagination-bullets{
			margin-top: -80px;
			padding-left: 40% !important;
			z-index: 20;
		}
		.swiper-pagination-bullet{
			background-color: transparent !important;
			background-image: url("/wp-content/uploads/2023/11/bullet.png") !important;
			background-size: 24px 15px !important;
			background-repeat: no-repeat !important;
			background-position: center !important;
			width: 24px !important;
			height: 15px !important;

			&:focus{
				box-shadow: unset !important;
			}

		}


		.swiper{
			position: unset;
		}
		.swiper-button{
			margin: -30px -70px 0px -70px !important;
			background-color: transparent !important;

			&:focus{
				box-shadow: inset 0 0 0 0px rgba(0,0,0,.75),inset 0 0 0 0px #fff !important;
			}
		}

		.swiper-button-prev{
			margin-right:-55px !important;
			background-image: url("/wp-content/uploads/2023/11/prev.png") !important;
		}

		.swiper-button-next{
			margin-left:-55px !important;
			background-image: url("/wp-content/uploads/2023/11/next.png") !important;
		}

		.swiper-slide{
			max-height:60vh !important;
		}

		.post-thumbnail{
			width: 40% !important;
		}

		article{
			.entry-wrapper{
				left:40% !important;
				height: 90%;

				.entry-title{
					margin-top: 20px;
				}
			}
		}
	}


	//seção de galerias
	.post-gallery{
		min-height: 300px !important;
		margin:-10px !important;

		.post-thumbnail{
			min-height: 300px !important;
		}

		.entry-title{
			margin-top:170px !important;
			a{
				padding:5px !important;
				background-color: $c_azul_petroleo !important;
				font-size: 16px !important;
				font-weight: bold !important;
			}
		}
	}
}

.page-template-template-menu-ancora, .single-hotsite{
	
	.wp-block-columns{
		&.alignfull{
			width: 100% !important;
		}
	}
	
	.wp-block-navigation-item img:hover{
		max-width: 12px !important;
	}

	.entry-header{
		display: none !important;
	}

	.imagem-header{
		margin: -40px;
	}

	.main-content{
		width: 100%;
	}

	.entry .entry-content {

		.ancora:target {
			scroll-margin-top: 5em;
			background-color: #ddd;
			border: solid 1px #ccc;
			border-radius: 3px;
			box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
		}

		.wp-block-columns{

			.ancora{
				padding: 15px;
			}
		}

		a {
			text-decoration: none !important;
		}

	}



	.eb-advanced-navigation-wrapper.is-vertical.vertical-preset-2 .wp-block-navigation{
		box-shadow: none;
		padding: 0 !important;



		li{
			width: 100% !important;
			margin: 5px 0 !important;
			border-radius: 4px ;
		}

		ul{
			box-shadow: none;
		}

		ul:first-child{
			padding: 0 !important;
			box-shadow: none !important;
			border: none !important;
		}

	}

	.wp-block-navigation-item__label strong{
		min-width: 50px !important;
  		display: inline-flex;
	}

	.wp-block-navigation-item__label{
		min-width: 50px !important;
  		display: inline-flex;
	}

	.eb-advanced-navigation-tcdzj.eb-advanced-navigation-wrapper {
		:hover{
			width: 100% !important;
		}
	}

	.eb-advanced-navigation-tcdzj.eb-advanced-navigation-wrapper{
		width: 100% !important;


		img{
			display:none;
		}
	}

	.eb-advanced-navigation-tcdzj.eb-advanced-navigation-wrapper .current-menu-item{
		width: 100% !important;

		img{
			display: block;
			margin-right:3px;
		}
	}


	.coluna-fixa{
		align-items: center;
		display: flex;
		position: fixed;
		bottom: 0;
		top:30%;
		right: 0;
		left: 10px;
		height:min-content;
		width: 300px;
		margin-left: 5px;
		padding: 10px;
		width: 100% !important;
		z-index:9999;

		@media (max-width: 1099px) {
			display:none;
		}
	}
	
}

//footer

.footer-branding .wrapper{
	margin-left: 300px;
	margin-top:160px;
	position: absolute;

	.social-navigation{
		position: absolute;
		right: 0;
	}
}

.coluna-sem-margem{
	margin:0px !important;
}

//sidebar-menu


.fixed-navigation{
	@media (max-width: 1099px) {
		display:none;
	}

	.fixed-links-menu{
		z-index: 20 !important;
		position: fixed;
		right: 0;
		float: right;
		display: block;
		margin-right: 15px;
		text-align: end;

		li{
			font-size: 12px;

			a{
				text-shadow:
    			1px 1px 2px white,
    			0 0 9em white,
    			0 0 0.2em white;
  				color: black;
				font-weight: bold;
			}

			&::marker{
				color:transparent;
			}

			.svg-icon{
				margin-right: 10px;
			}
		}
	}
}

.page-title{
	&::before{
		content: unset !important;
	}
}

//archive comum


.archive:not(.paged) article.has-post-thumbnail:first-of-type .post-thumbnail {
	margin-bottom:unset;
}

.archive{

	.post-thumbnail{
		img{
			height: 300px !important;
			margin: 0 auto !important;
			object-fit: contain;
		}
	}

	.page-header h1{
		margin-top: 30px !important;
	}

	#main{
		width: 100%;
		display:inline-grid;
		grid-template-columns:repeat(3, auto);
		grid-template-rows:auto;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content:center;

		@media (max-width: 768px) {
			display: block;
		}

		article{
			margin-bottom: 15px;
			margin:10px;
			padding: 10px;
			display: block;
			max-width: 100%;

			.post-thumbnail{
				flex-basis:auto;
				max-width: 100%;
			}

			.cat-links{
				display: none;
			}

			.entry{
				margin-top: 0;
			}

			.entry-header{
				margin:0px;

				h2{
					font-size: 0.8em;
				}

				.entry-title{
					margin: 10px;
					margin-bottom: 0px;
				}
			}

			.posted-on{
				margin: 10px;
				margin-top: 0px;
				font-size: 12px;
			}

			.entry-container{
				min-width: 200px;
			}
		}

	}
}

//archive edital
.post-type-archive-edital{

	.cabeçalho{
		display:inline-grid;
		grid-template-columns:repeat(4, auto);
		grid-template-rows:auto;
		justify-content:stretch;
		width: 100%;


		.edital{
			float: left;
			margin-right:50px;
		}

		.meta{
			float: left;
		}

	}
}

.search{
	.page-header{
		width: 90% !important;
	}
}

.post-type-archive-livro{

	.post-thumbnail{
		img {
			height: 300px !important;
			margin: 0 auto !important;
			object-fit: contain;
		}
	}

	#main{
		width: 100%;
		display:inline-grid;
		grid-template-columns:repeat(3, auto);
		grid-template-rows:auto;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content:center;

		@media (max-width: 768px) {
			display: block;
		}


		article{
			margin-bottom: 15px;
			margin:10px 25px;
			padding: 10px;
			display: block;

			.post-thumbnail{
				flex-basis:auto;
				max-width: 100%;
			}

			.cat-links{
				display: none;
			}

			.entry{
				margin-top: 0;
			}

			.entry-header{
				margin:0px;

				h2{
					font-size: 0.8em;
				}

				.entry-title{
					margin: 10px 0px;
				}
			}

			.entry-container{
				min-width: 200px;
			}
		}

	}

	.entry-container{
		text-align: center;
	}
}


.tax-agrupamento_de_editais{

	#main{
		display: block !important;
		width: 100%;

		article{
			margin: 0px;
			padding: 5px;

			h2{
				font-size: 0.6em !important;
			}
		}			

		.edital-linha{
			padding:0px !important;
			margin:0px !important;
			width: 100%;
			display: inline-grid;
			grid-template-rows:auto;
			justify-content:stretch;
			margin: 5px 0px;		
	
			&:nth-child(even) {
				background: #e3e3e3;
			}
		}
	}

	article{
		width: 1200px;

		.mobile{
			display: none;
		}

		@media (max-width: 768px) {
			min-width: 250px;

			.mobile{
				display: block;
				margin: 10px 0px 2px 0px;
			}

			.data{
				display: block;
				margin: 0px 5px 0px 0px;
			}

		}

	}

	.page-title{
		font-size: 2.2em;

		@media (max-width: 768px) {
			font-size: 1.2em;
			margin-bottom: 30px;
		}
	}

	.button{
		font-size: 10px;
		padding: 5px 10px;
		border-radius: 0px;
		background-color: $c_azul_petroleo;
		text-transform: none;

		&:hover{
			color: #fff;
		}

	}


	@media (max-width: 768px) {
		.voltar{
			display:none;
		}
	}


	.cabeçalho-editais{
		margin-top: 10px;
		display:inline-grid;
		grid-template-columns:2fr auto;
		grid-template-rows:auto;
		justify-content:stretch;
		width: 100%;

		@media (max-width: 768px) {
			display: block;
		}
	}

	.cabeçalho{
		display:inline-grid;
		grid-template-columns:50% 25% 15% 10%;
		grid-template-rows:auto;
		justify-content:stretch;
		width: 100%;

		@media (max-width: 768px) {
			width: unset;
			display: none;
		}


		.edital{
			float: left;
			margin-right:50px;
		}

		.meta{
			float: left;
		}

	}

	.entry-container{
		display:inline-grid;
		grid-template-columns:50% 25% 15% 10%;
		grid-template-rows:auto;
		justify-content:stretch;
		width:100%;

		@media (max-width: 768px) {
			width: unset;
			display: block;
			margin: 20px 0px;
		}

		.entry-header{
			width: 25%;
			float: left;
			display: table;
			max-width: 100%;

			.entry-title{
				width: 500px;
				margin: 0px !important;
			}

			@media (max-width: 768px) {
				width: 100%;

				.entry-title{
					margin: 0px !important;
					width: 100%;
				}
			}

			h2{
				word-break: break-word;
			}
		}

		.entry-meta{
			float: left;

			.publicado-por{
				color: $c_azul_petroleo;
				font-weight: bold;
				margin: 0;
			}

			@media (max-width: 768px) {
				width: 100%;
				float: unset;
				display: inline-flex;
				margin-bottom: 0px !important;
			}

			.byline{
				margin-right: 20%;

				@media (max-width: 768px) {
					width: 50%;
					margin:10px 0px 5px 5px;
				}
			}

			.button-visualizar{
				font-size: 10px;
				padding: 5px 10px;
				border-radius: 0px;
				background-color: $c_azul_petroleo;
				color: #fff;
				float: right;
				font-weight: bold;
				margin-right: 10px;

				&:hover{
					color: #fff;
				}

				@media (max-width: 768px) {
					margin: 5px 0px;
				}

			}
		}
	}

}


// paginação
.pagination-posts{
	width: 100%;

	.nav-links > *{
		border: 2px solid $c_salmao;
		background-color: transparent;
	}
	.nav-links > .current{
		background-color: $c_salmao;
	}

	.nav-links{
		.prev{
			border: none;
		}
		.next{
			border: none;
		}
	}

	.nav-links > .dots{
		border:none;
	}
}

.single{

	.cat-links{
		display: none;
	}
}

.page-template{
	.titulo-especial{
		font-family: 'Source Serif 4', serif;
		text-transform: unset;
	}

	.sem-margem{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.site-content{
		margin: 0px auto !important;
	}

	.site-content{
		margin: 20px auto;

		.index-wrapper{
			max-width: 1000px;
			margin: 20px auto;
		}

		.archive-terms{
			display:inline-grid;
			grid-template-columns:repeat(3, auto);
			grid-template-rows:auto;
			justify-content:stretch;


			.post-card{
				width: auto;
				margin-bottom: 15px;
				margin:10px;
				padding: 10px;
				display: block;
			}
		}

	}

	.pagination{
		width: 100%;

		.nav-links > *{
			border: 2px solid $c_salmao !important;
			background-color: transparent !important;
			padding: 0.5rem 0.75rem !important;
		}

		.nav-links > .current{
			background-color: $c_salmao !important;
		}

		.nav-links{
			.prev{
				border: none !important;
			}
			.next{
				border: none !important;
			}
		}
	}
}


//agenda

.entry .entry-content .calendar-conpedi{
	margin-top:0px !important;
	margin-bottom:0px !important;
}

.em-calendar {
	--date-border-color : $c_azul_petroleo !important;
	--accent-color: white !important;
	--nav-backgroud : transparent !important;
	--date-color : #fff !important;
	--date-border : 0px solid transparent !important;
	--date-today-background: transparent !important;
	--date-today-border:  0px solid transparent !important;
}


.calendar-conpedi{
	.em{
		&.em-calendar{
			&.size-small{
				.em-calnav{
					.em-calnav{
					background: url("/wp-content/uploads/2024/01/setas.png") !important;
					background-size: 32px 32px !important;
					}
				}
			}
		}
	}
}

.em.em-calendar.size-small .em-cal-nav .month input{
	padding-left: 10px !important;

	@media (max-width: 768px) {
		font-size: 14px !important;
		max-width: 100px !important;
	}
}

.em-month-picker {
	text-transform: capitalize !important;
}

.em.em-calendar .em-cal-nav .month input[type="text"] {
	color: #fff;
}

.em-cal-day-date.colored div.ring{
	padding:0px !important;
}

.em-cal-day-date.colored div.ring.one{
	border: none;
	--date-border-color : transparent !important;
}

.colored{
	background-color: $c_azul_petroleo !important;
	border-radius: 20px !important;
	--date-border-color : transparent !important;
	height: 36px !important;
	width: 36px !important;


	.ring{
		padding:0px !important;
		.one{
			padding:0px !important;
			border: none !important;
			border-color: transparent !important;
			text-align: center;

			a{
				width: 20px !important;
				height: 30px !important;
				text-align: center;
			}
		}
	}
}

.ring{
	padding:0px;
	border: none !important;
	border-color: transparent !important;
	height: 32px !important;
	width: 32px !important;
}

.em-cal-head{
	background-color: transparent !important;
	color: #fff !important;

	.em-cal-day{
		color: #fff !important;
	}
}

.em-cal-body{
	background-color: transparent !important;
}

.em-cal-body {
	.em-cal-day{
		.em-cal-day-date {
			&.em-cal-day-date a, &.em-cal-day-date span {
				color: #fff !important;
				text-decoration: none !important;
				background: transparent !important;
				padding: 0px !important;
				width: 20px !important;
				opacity: 100% !important;
			}
		}
	}
}

.em{
	&.em-calendar{
		.em-cal-nav{
			.month-nav{
				.em-calnav{
					&.em-calnav-prev{
						background-image: url("/wp-content/uploads/2024/01/seta-prev.png") !important;
						background-size: 26px 26px !important;
						background-repeat: no-repeat;
					}
					&.em-calnav-next{
						background-image: url("/wp-content/uploads/2024/01/seta-next.png") !important;
						background-size: 26px 26px !important;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
}

.em-cal-day{
	&.eventful-post{
		.em-cal-day-date{
			opacity: 100% !important;
	 	}
	}
}
.em-calnav{
	background: transparent !important;

	svg{
		display: none !important;
	}
}

.em{
	&.em-list{
		&.size-small{
			.em-item{
				border: none !important;
			}
		}
	}
}

.eventos-mes{

	@media (max-width: 768px) {

		.wp-block-cover__inner-container{
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	.em-item{
		padding: 0px !important;
		font-size: 12px !important;
		margin-top: -15px;

	}

	h3{
		&.em-item-title{
			color:white !important;
			a{
				color:white !important;
			}
		}
	}
	.em-item-title{
		color:white !important;
		font-size: 16px !important;

		a{
			color:white !important;
		}
	}

	.em-item-image{
		display: none !important;
	}
	.em-item-meta-line{
		color:white !important;
		display: block !important;
	}

	.em-item-meta{
		margin-bottom: 0px !important;
	}

	.em-icon-category{
		display: none;
	}

	.event-categories li a{
		display: none !important;
	}

	.em-event-categories div{
		height: 0px;
	}

	.em-event-time{
		display: none !important;
	}

	.em-item-actions, .em-item-desc{
		display: none;
	}


	.em-item-info{
		margin: 0px !important;
		padding: 0px 10px !important;
		border-top:none !important;
		display: block;
	}

	.em-icon.em-icon-calendar{
		display: none;
	}


	.em.pixelbones{
		a{
			color: white !important;
		}
	}
}

.eventos-especiais{

	.wp-block-spacer{
		display: none;

	}

	@media (max-width: 768px) {

		h2{
			width: 80% !important;
		}
	}

	.em-list{
		display:inline-grid;
		grid-template-columns:50% 50%;
		grid-template-rows:auto;
		justify-content:stretch;
		width: 100%;

		@media (max-width: 768px) {
			display: block;
		}
	}
	.em-item{
		padding: 0px !important;
		font-size: 12px !important;
		margin-top: -15px;
		width: 50px;
		box-shadow:none !important;
		margin-left: -10px;
		border-top: none !important;

		@media (max-width: 768px) {
			margin-left: 0px;
		}
	}

	.em-item-title{
		margin-left: 15% !important;
  		position: absolute;
		color:$c_azul_petroleo !important;
		font-size: 14px !important;

		@media (max-width: 768px) {
			margin-left: 100px !important;
		}

		a{
			color:$c_azul_petroleo !important;
		}
	}
	.em-event-time{
		margin-left: 15% !important;
		margin-top: 5% !important ;
  		position: absolute;
		margin-top: 80px !important ;

		  @media (max-width: 768px) {
			margin-top: 80px !important ;
			margin-left: 100px !important;
		}
	}

	.em-item-image{
		display: none !important;
	}
	.em-item-meta-line{
		width: 300px;
		color:$c_azul_petroleo !important;
		display: block !important;
		line-height: 28px !important;
		font-weight: lighter !important;

	}

	.em-item-meta > div{
		min-width: 80px !important;
	}

	.em-item-meta{
		@media (max-width: 768px) {
			width: 80px !important;

		}
	}

	.em-event-date{
		padding: 10% 20% !important;
		text-transform: uppercase;
		word-break:break-word;
		font-size: 18px;
		text-align: center;
		width: 80px;
		border-radius: 5px;
		border: 1px solid $c_azul_petroleo;
		max-height: 110px !important;

		@media (max-width: 768px) {
			font-size: 16px;
			width: 40px !important;
			padding: 15% 25% !important;
		}
	}

	.em-icon-clock{
		display: none;
	}

	.em-item-actions, .em-item-desc{
		display: none;
	}


	.em-item-info{
		margin: 10px 5px !important;
		padding: 0px 10px !important;
		border-left:none !important;
		display: block;
		border-top: none !important;

		@media (max-width: 768px) {
			margin:10px 0px 0px -10px !important;
		}
	}

	.em-icon.em-icon-calendar{
		display: none;
	}

	.em-event-categories{
		display: none !important;
	}


	.em.pixelbones{
		a{
			color: $c_azul_petroleo !important;
		}
	}
}

.post-type-archive-galeria{
	#main{
		width: 100%;
		margin-left: auto;
  		margin-right: auto;

		article{
			margin: 30px 10px !important;
			padding: 0px !important;
			max-width: 100%;
		}

		.post-thumbnail{
			margin-right:0px;
		}

		img {
			height: 100% !important;
			margin: 0 auto !important;
			object-fit: contain;
		}

		.entry-title{
			color:white;
			font-size: 12px !important;
			padding:5px;
			background-color: $c_azul_petroleo;
			margin: -50px 5px 5px 5px !important;
			width: fit-content;

			a{
				width: 90%;
  				display: block;

				&:hover{
					color: #fff;
				}
			}
		}
	}

}

.image-gallery.hacklab-block{

	.wp-block-column{
		padding: 0 15%;

		@media (max-width: 768px) {
			padding: 15px;
		}

	}

	.sss{
		position: initial;
	}

	.sssnext{
		padding: 10px;
		right:-7%;
		background-color: transparent;
		background-image: url("/wp-content/uploads/2023/11/next.png") !important;
		background-size: 32px 32px;
		background-position: 0 !important;

		@media (max-width: 768px) {
			background-size: 22px 22px !important;
			width: 22px !important;
		}

	}

	.sssprev{
		padding: 10px;
		left:-5%;
		background-color: transparent;
		background-image: url("/wp-content/uploads/2023/11/prev.png") !important;
		background-size: 32px 32px !important;
		background-position: 0;

		@media (max-width: 768px) {
			background-size: 22px 22px !important;
			width: 0px !important;
			left:-7%;
		}
	}

	.actions {
		background-color: $c_azul_petroleo;
		padding: 1px 1px 1px 4px;
	}

	.actions button img{

		@media (max-width: 768px) {
			display: none;
		}
	}

	.gallery-item-container img{
		object-fit: contain !important;
	}

	:not(.wp-block-jeo-theme-custom-image-gallery-block) button {
		margin: 5px;
	}

	.actions button[action="display-grid"]{
		margin-top: 8px;
	}

}

.single-galeria{

	.main-content{
		width: 100%;
	}
	.post-thumbnail{
		display: none;
	}

	.content .wp-block-column{
		padding: 0 15%;

		@media (max-width: 768px) {
			padding: 15px;
		}

	}

	.sss{
		position: initial;
	}

	.sssnext{
		padding: 10px;
		right:-7%;
		background-color: transparent;
		background-image: url("/wp-content/uploads/2023/11/next.png") !important;
		background-size: 32px 32px;
		background-position: 0 !important;

		@media (max-width: 768px) {
			background-size: 22px 22px !important;
			width: 22px !important;
		}

	}

	.sssprev{
		padding: 10px;
		left:-5%;
		background-color: transparent;
		background-image: url("/wp-content/uploads/2023/11/prev.png") !important;
		background-size: 32px 32px !important;
		background-position: 0;

		@media (max-width: 768px) {
			background-size: 22px 22px !important;
			width: 0px !important;
			left:-7%;
		}
	}

	.image-gallery.hacklab-block .actions {
		background-color: $c_azul_petroleo;
		padding: 1px 1px 1px 4px;
	}

	.image-gallery.hacklab-block .actions button img{

		@media (max-width: 768px) {
			display: none;
		}
	}

	.gallery-item-container img{
		object-fit: contain !important;
	}

	.image-gallery:not(.wp-block-jeo-theme-custom-image-gallery-block) button {
		margin: 5px;
	}

	.image-gallery.hacklab-block .actions button[action="display-grid"]{
		margin-top: 8px;
	}
}

//sobre

.entry .entry-content .sessao-sobre{
	margin-top:0px !important;
	margin-bottom:0px !important;

	@media (max-width: 768px) {

		.wp-block-button{
			width: 100%;
		}

		h1{
			font-size: 28px;
		}

		p{
			margin-top:0px !important;
			margin-bottom:0px !important;
		}

		.wp-block-columns > .wp-block-column{
			margin-bottom: 0px !important;

			&:first-child{
				margin-top:20px !important;

			}
		}

		.wp-block-spacer{
			display: none;
		}

		.colunas-quem-somos{
			.wp-block-column{
				&:first-child{
					display: none !important;
				}
			}
		}

	}
}

.diretoria{

	.wp-block-columns .wp-block-column > * {
		margin-bottom: 5px !important;
 		margin-top: 0px !important;
	}

	.wp-block-group .wp-block-group__inner-container > *{
		margin-bottom: 5px !important;
 		margin-top: 0px !important;
	}

	img{
		@media (max-width: 768px) {
			width: 50%;
			margin: 0px 25%;
		}
	}
}

.sobre-documentos{

	button{
		margin: 10px auto;
		margin-top: 15px;
		border-radius: 0;
		padding: 5px 10px 5px 10px;
		background-color: $c_azul_petroleo;
		font-size: 14px;
	}

	.wpnbha.is-grid article{
		margin-bottom: 2rem !important;
	}

	@media (max-width: 768px) {
		.type-documento .entry-title{
			font-size: 0.7em;
		}

		.wpnbha > button{
			margin-top: 2em;
			font-size: 12px;
		}
	}
}

@media (max-width: 768px) {
	.sobre-pequeno-mobile{
		min-height: 50px !important;
		height: 220px !important;

		.wp-block-columns .wp-block-column > :first-child{
			margin-top: 12px;
		}

		.wp-block-column{
			margin-bottom: 0px !important;
		}

		a{
			font-size: 10px;
		}
	}

	.saiba-mais{
		h2{
			font-size: 20px;
		}
	}

	.memoria{
		background-color:#af6d55 !important;
		margin-top: 32px !important;

		.wp-block-cover{
			padding: 1rem 1rem 0rem 1.5rem !important;
		}

		img{
			display: none !important;
		}
	}
}

.quem-somos-titulo{
	margin-left: -60px;

	@media (max-width: 768px) {
		margin-left: 0px;
	}
}

.single{
	.post-thumbnail{
		display: none;
	}

	.entry-header{
		margin: 0px;
	}

	.entry-title{
		font-size: 2em;
	}

	.entry-content{
		margin: 10px;
	}

	.main-content{
		width: 100%;
	}
}

//eventos e eventos-parceiros

.page-template-template-eventos,
.page-template-template-eventos-parceiros{

	.cat-links{
		display: none;
	}

	.proximos-eventos{
		margin-top: -10px !important;
	}

	.entry-header{
		margin: 20px 0px !important;
	}

	.proximos-eventos-titulo{
		margin-bottom: 0px;
	}

	.post-thumbnail{
		img{
			&.image-fit-contain{
				margin-top: -15px;
			}
		}
	}

	.page-header{
		text-align: center;
	}

	.page-title{
		font-size: 38px;
		font-family: 'Source Serif 4', serif;
		text-transform: unset;
		color: $c_azul_petroleo;
		margin: 30px 10px 10px 10px;
		padding: 10px;
	}

	.swiper-wrapper{
		max-width: 300px !important;
	}

	.wpnbpc{
		article{
			max-width: unset !important;

			.entry-wrapper{
				background-color: transparent;
				padding: 15px;

				.entry-title{
					margin-top: 0px !important;
					a{
						color: $c_azul_petroleo !important;
					}
				}
			}
		}


		.swiper-pagination-bullets{
			z-index: 20;
		}

		.swiper-pagination-bullet{
			background-color: transparent !important;
			background-image: url("/wp-content/uploads/2023/11/circulo1.png") !important;
			background-size: 24px 24px !important;
			background-repeat: no-repeat !important;
			background-position: center !important;
			width: 26px !important;
			height: 24px !important;

			&:focus{
				box-shadow: unset !important;
			}

		}


		.swiper{
			position: unset;
		}
		.swiper-button{
			margin: -30px -70px 0px -70px !important;
			background-color: transparent !important;

			&:focus{
				box-shadow: inset 0 0 0 0px rgba(0,0,0,.75),inset 0 0 0 0px #fff !important;
			}
		}

		.swiper-button-prev{
			margin-right:-55px !important;
			background-image: url("/wp-content/uploads/2024/01/seta-prev.png") !important;
		}

		.swiper-button-next{
			margin-left:-55px !important;
			background-image: url("/wp-content/uploads/2024/01/seta-next.png") !important;
		}

	}

	.archive-session{
		width: 100%;
		display:inline-grid;
		grid-template-columns:repeat(3, auto);
		grid-template-rows:auto;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content:stretch;

		@media (max-width: 768px) {
			display: block;
		}

		article{
			margin-bottom: 15px;
			margin:10px;
			padding: 10px;
			display: block;
			max-width: 400px;

			.entry-title{
				font-size: 24px !important;
			}

		}
	}
}

//paginação

@media (max-width: 768px) {
	.pagination .nav-links > * {
		padding: 0.4rem 0.4rem 0.4rem !important;
	}
}

.pagination,.pagination-posts{

	@media (max-width: 768px) {
		font-size: 12px;
	}
	.nav-links{


		.prev{
			background-image: url("/wp-content/uploads/2024/01/seta1.png") !important;
			background-size: 32px 32px !important;
			background-position: right;
			background-repeat: no-repeat;
			color: transparent;
		}

		.next{
			background-image: url("/wp-content/uploads/2024/01/seta2.png") !important;
			background-size: 32px 32px !important;
			background-position: left;
			background-repeat: no-repeat;
			color: transparent;
		}
	}
}

//publicacoes

.page-template-template-publicacoes, .page-template-template-poster-conpedi, .page-template-template-publicacoes-parceiros{
	.site-main{
		margin-top:30px;
	}


	.titulo-centralizado{
		text-align: center;
		width: 100%;
		border-top-style:  solid;
  		border-right-style: none;
  		border-bottom-style: solid;
  		border-left-style: none;
		border-color: #d3d3d3;
		border-width: thin;
		padding: 5px;
		font-size: 26px;
		margin: 30px 0px;
	}

	#main{
		width: 100%;
		display:flex !important;

		@media (max-width: 768px) {
			display: block !important;
		}
	}

	.evento-publicacoes{
		margin: 10px;
		font-size: 12px;

		@media (max-width: 768px) {
			margin: 0px;
		}
	}

	.div-principal{
		width: 100%;
		display: inline-grid;
		grid-template-columns:45% 35% 20%;
		grid-template-rows:auto;
		justify-content:stretch;
		margin: 5px 0px;

		&:nth-child(even) {
			background: #e3e3e3;
		}

		@media (max-width: 768px) {
			display: block;
			margin: 10px 0px;
			padding: 10px;
		}
	}

	.div-evento-publicacoes{
		margin:5px 10px;
		display:flex;
  		flex-direction: column;
  		justify-content: center;

		@media (max-width: 768px) {
			margin: 5px 0px;
		}

		a{
			margin: 1px 2px;
			vertical-align: middle;
  			display: table-cell;
			color: #2E2E2E;

			&:hover{
				opacity: 1;
			}
		}
	}

	.div-evento-publicacoes-data{
		flex-direction: column;
  		justify-content: center;
		text-align: right;
		margin:5px;
		color: #2E2E2E;

		&:hover{
			opacity: 1;
		}

		@media (max-width: 768px) {
			text-align: left;
		}
	}

	.div-titulo{
		width: 100%;
		margin: 15 auto;

		.titulo-especial{
			text-transform: unset;
			text-align: center;
		}
	}
}

.page-template-template-grupo-de-trabalho{

	.site-main{
		margin-top:30px;
	}

	#main{
		width: 100%;
	}

	a{
		width: 100% !important;
		margin: 10px 0;
		font-size: 12px;

	}
	.evento-publicacoes{
		margin: 10px;
		font-size: 12px;
	}

	.div-titulo{
		width: 100%;
		margin: 15 auto;

		.titulo-especial{
			font-family: 'Source Serif 4', serif;
			text-transform: unset;
			text-align: center;
		}
	}
	.trabalho{
		font-size: 12px;
		margin: 0px 5px;
	}

	.trabalhos{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.div-trabalho{
		margin: 10px 10px !important;

		&:nth-child(even) {
			background: #e3e3e3;
		}
	}

	.titulo-centralizado{
		text-align: center;
		width: 100%;
		border-top-style:  solid;
  		border-right-style: none;
  		border-bottom-style: solid;
  		border-left-style: none;
		border-color: #d3d3d3;
		border-width: thin;
		padding: 5px;
	}
}

.page-template-template-grupo-de-trabalho-conteudo{

	@media (max-width: 768px) {

		.texto-apresentacao{
			margin-top: -40px;
		}

		.div-trabalho{
			margin: 10px 0px !important;
		}

		.section-button{
			margin:40px 0px 20px 0px;
		}
	}

	.site-main{
		margin-top:30px;
	}

	.titulo-centralizado{
		text-align: center;
		width: 100%;
		border-top-style:  solid;
		border-right-style: none;
		border-bottom-style: solid;
		border-left-style: none;
		border-color: #d3d3d3;
		border-width: thin;
		padding: 5px;
	}

	a, h5, h6{
		width: 100% !important;
	}

	.section{
		margin-top: 20px;
		width: 100%;
	}

	.section-button{
		width: 100%;


		a{
			display: block;
			margin-left: auto !important;
			width: 140px !important;
			margin: 10px;
			margin-top: -20px;
			padding: 5px;
			text-align: center;
			border-radius: 0px;

			&:hover{
				color:white;
			}
		}
	}

	.div-trabalho{
		&:nth-child(even) {
			background: #e3e3e3;
		}
	}

	.trabalho{
		margin: 0px 5px;
		font-size: 12px;
	}

	p{
		font-size: 12px;

		br{
			margin: 10px;
		}
	}
}

//páginas sem títulos

.page-id-714, .page-id-680, .page-id-566{
	.entry-header{
		display: none !important;
	}
}

//single livro

.single-livro{

	@media (max-width: 768px) {
		.wp-block-column{
			margin-bottom: 0px !important;
		}

		.wp-block-buttons{
			margin: -20px 15px !important;
		}
	}

	.wp-block-columns .wp-block-column > *{
		margin-bottom: 10px !important;
		margin-top: 0px !important;
		display: grid;

		.wp-block-button{
			text-align: center;

			a{
				background-color: $c_azul_petroleo;
			}
		}

	}

	.info-livro{
		.wp-block-heading{
			margin:-20px -10px -10px -10px !important;
		}
		p{
			margin:-20px -10px -10px -10px !important;
			font-size: small;
		}

		h4{
			font-size: 1em !important;
		}
	}

	.yarpp{
		margin-top: 100px;
	}
}
